aniso8601==9.0.1
annotated-types==0.7.0
attrs==24.2.0
camel-converter==3.1.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==7.1.2
flake8==4.0.1
Flask==1.1.4
Flask-Cors==4.0.1
flask-restplus==0.13.0
Flask-Script==2.0.6
idna==3.7
iniconfig==2.0.0
itsdangerous==1.1.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
MarkupSafe==2.0.1
mccabe==0.6.1
meilisearch==0.31.4
packaging==24.1
pluggy==1.5.0
py==1.11.0
pycodestyle==2.8.0
pydantic==2.8.2
pydantic_core==2.20.1
pyflakes==2.4.0
pytest==6.2.5
pytz==2024.1
referencing==0.35.1
requests==2.32.3
rpds-py==0.20.0
six==1.16.0
toml==0.10.2
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==0.16.1
