name: Build frontend stage image

on:
  push:
    branches:
      # should be changed to main before merge
      - deploy-using-docker
    paths:
      - frontend/**
      - .github/workflows/deploy-frontend-stage.yaml

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-frontend-stage

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,enable=true,priority=100,prefix=,suffix=,format=long

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./frontend
          build-args: |
            baseURL=https://osscameroon-website-api.stage.osscameroon.com
            env=development

          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
